.container-header {
  border-bottom: 1px solid #272b4b;
  display: flex;
  justify-content: space-between;
}

.container-header-title {
  font-family: monospace;
  font-weight: bold;
}

@media only screen and (max-width: 599px) {
  .container-header-title {
    font-size: 1.2em;
  }
}
