#contact-links-contact a {
  font-family: monospace;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #272b4b;
  padding: 3px;
}

#contact-links-contact a:hover {
  background-color: #3c67ff;
  border-radius: 5px;
}

#contact-links-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6px;
}

.input {
  margin-bottom: -3px;
}

#name,
#email,
#message {
  width: 100%;
  border: solid 1px #272b4b;
  border-radius: 5px;
  background-color: #fff;
}

#message {
  height: 200px;
}

@media only screen and (max-width: 599px) {
  p#submit {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  p#submit {
    width: 250px;
  }
}

p#submit {
  background-color: #272b4b;
  color: #b2b2b2;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #073066;
  border-right: 2px solid #073066;
  border-top: 2px solid #cbdff8;
  border-left: 2px solid #cbdff8;
}

p#submit:hover {
  background-color: #3c67ff;
  color: #272b4b;
}

p#submit:active {
  border-top: 2px solid #073066;
  border-left: 2px solid #073066;
  border-bottom: 2px solid #cbdff8;
  border-right: 2px solid #cbdff8;
}
