#contact-links-container-footer {
    display: flex;
    justify-content: center;
}

#contact-links-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -55px;
    margin-bottom: -55px;
}

#contact-links, #contact-links-footer {
    display: flex;
}

#contact-links li, .link {
    padding: 5px;
}

#contact-links a, #contact-links-footer a {
    text-decoration: none;
    color: #073066;
    border-radius: 5px;
}

#contact-links a:hover, #contact-links-footer a:hover {
    background-color: #5e9ef3;
    color: #fff;
}

#email-phone {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#email-phone ul {
    display: flex;
}

#email-phone ul li {
    padding: 5px;
}